<div class="container">
  <div class="page-header">
    <h1><%= topic.title %> <small> - Tom</small></h1>
  </div>
  <%= topic.body %>
  
  <%= topic.comments.each do |comment| %>
    <p><%= comment.body %></p>
  <%= end %>
</div>